:root{
    --purple: rgb(97, 149, 232);
    --green: #4aec8c;
    --track-color: #ddd;
    --purpleHover: #9fc0f5;
    --greenHover:#77a88b
}





.SeSSettings{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.slider{
    
    
    
    float: left;
    
    /* max width of your slider */
    width: 300px;
    
    /* Optional: Only If you want to center your slider in the page */
    margin: 25px;
}

.track{
    top: 8px;
    border-radius: 50px;
      /* thickness of the track */
      height: 4px;
      background-color: var(--purple);
}

.thumb{
    
    cursor: pointer;
      /*color for the thumb */
      background: var(--purple);
      /* shape of the thumb: circle */
      width: 20px;
      height: 20px;
      border-radius: 100%;
      /* remove default outline when selected */
      outline: none;
}

.thumb:hover{
    box-shadow: 0 0 0 8px var(--purpleHover)
}

.slider.green .track{
    border: 2px solid var(--green);
}

.slider.green .thumb{
    background: var(--green);
}

.slider.green .thumb:hover{
    box-shadow: 0 0 0 8px var(--greenHover)
}



.SubjectChoices{
    margin: 15px;
   
  
    
  

}