.LoginCont{
    background-color: rgb(192, 192, 192);
    align-items: center;
    justify-content: center;
    margin: 20px;
    align-self: center;
    height: 250px;
    width: 300px;
    border-radius: 20px;
    padding: 10px;
   
}

.GoogleButton{
    background-color: black;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    height: 40px;
    width: 250px;
}