.Page{
    padding: 0%;
    margin: 0%;
    width: 100vw;
    display: flex;
    background-color: #17181a;
    height: 100vh;
    padding-bottom: 10%;
    
}
.Page2{
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-direction: column;
    background-color: rgb(41, 44, 51);
    height: 100vh;
}

.bod{
    margin-left: 120px;
    display: flex;
    flex-direction: column;
    width: 90vw;
    
   
}
.navB{
    
    right: 0;
    left: 0;
}


.Recent{
    float: left;
    color: white;
    margin: 20px;
}






@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}






.bod1{
    
    margin-left: 38px;
    display: flex;
    width: 90vw;
    flex-direction: column;
}

.special_modal .modal-content{
    background-color: #17181a;
    color: #fff;

 }

 .accordion-button {
    background-color: rgb(12, 12, 12) !important;
    color: white!important;
    margin-bottom: 5px !important;
  }
  
  .accordion-button:focus {
    box-shadow: none;
    color: white;
  }
  
  .accordion-button:not(.collapsed) {
    color: #e5e8eb!important;
    
  }

 