.StartPageCont{
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    margin: 20px;
    background-color: #17181a;
    padding: 0%;
    margin: 0%;
    height: 100vh;   
    

}


