.StartPageCont{
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    margin: 20px;
    
   
    

}

.StartPageCont>h1{
    justify-content: center;
    text-align: center;
    align-items: center;
    vertical-align: middle;
}

.Startbtn{
    background-color: rgb(22, 22, 22);
    border: none;
    height: 50px;
    width: 50px;
    margin: 20px;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}