.Sidebar{
    float: left;
    height:100vh;
    border-right: 0.1px solid rgb(85, 85, 85);
    display: flex;
    width: 200px;
    text-align: center;
    padding: 20px;
    background-color: rgb(12, 12, 12);
    color: white;
}

.SidebarTop >h1{
    font-size: 30px;
}
.SidebarTop>h3{
    margin-top: 10px;
    color: gray;
    font-size: 15px;
    float: left;
}

.SidebarList{
    padding-top: 60px ;
}

a{
    text-decoration: none;
    color: white;
}