.Sidebar{
  
    height:98%;
    
    align-items: center;
    justify-content: center;
   
   
    vertical-align: middle;
    
    
    width: 80px;
    text-align: center;
    padding: 20px;
    background-color: rgb(97, 149, 232);
    color: white;
    
    
}

