.App {
  text-align: center;
  font-family: 'Roboto' sans-serif;
  align-items: center;
}

body{
  text-align: center;
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    background-color: rgb(73, 73, 73);
    
  
}